
.mediaProfile {
  margin-top: 1%;
}

@media screen and (max-width:  996px){
  .mediaProfile {
    display: none;
  }
}



.faqContainer {
  padding-top: 5%;
  padding-bottom: 14%;
  position: relative;
  overflow: visible;
  color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center ;
  background-image: url("../../../../../static/img/faq/background.png");
  background-color: #ffffff;
}

@media screen and (max-width:  996px){
  .faqContainer {
    text-align: center;
    display: none;
  }
}


.gridContainer {
  background: rgba(228, 233, 237, 0.4);
  border-radius: 30px;
  overflow: hidden;
  font-size: 1.5rem;
  min-height: 440px ;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.faqTitle {
  font-size: 2rem;
  color: #25366b;
  text-align: center;
  font-family: CircularStd-Black,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.faqSubTitle {
  font-size: 1.5rem;
  color: #25366b;
  font-family: Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.faqTeaser {
  font-weight: 900;
  line-height: 2.5rem;
  font-size: 3rem;
  letter-spacing: -.025em;
  display: block;
  --tw-text-opacity: 1;
  tab-size: 4;
  text-align: center;
  color: black;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.faqQuestion {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  color: black;
  font-family: CircularStd-Black,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}



.faqDescription {
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  color: grey;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  text-align: justify;
}

@media screen and (max-width:  996px){
  .faqQuestion {
    font-size: 0.9rem;
  }
  .faqDescription {
    font-size: 0.7rem;
  }
}