.modulesTeaser {
    font-weight: 900;
    line-height: 3rem;
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: -.025em;
    display: block;
    --tw-text-opacity: 1;
    color: black;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.backGroundContainer {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../../static/img/contenu/background.png");
    background-color: #ffffff;
    background-position: center;
}


.modulesDescription {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    color: grey;
    font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}


.gridContainer {
    text-align: center;
    padding-bottom: 5%;
    background-color: transparent;
    font-family: CircularStd-Book, Graphik Web, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.titleContiner {
    padding-top: 5%;
    padding-bottom: 5%;
}



@media screen and (min-width: 768px) {
    .rowContainer {
        padding-left: 10%;
    }
}

.enrollButton{
    color: #a6a2f7 !important;
    --ifm-font-color-base: #a6a2f7;
}

@media screen and (max-width: 768px) {

    .titleContiner {
        text-align: center;
    }
    .enrollButton {
        display: none;
    }
}



.colContainer {
    margin: 1%;
    padding-left: 10%;
}

.icon {
    width: 30px;
    height: 30px;
}
.largeIcon {
    width: 70px;
    height: 30px;
}

.featureSvg {
    height: 40%;
    width: 70%;
}


.leftPart {
    max-width: 400px;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px 20px 3px 45px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #7a7a7a;
}

@media (min-width: 426px)  and (max-width: 768px) {

    .leftPart {
        margin-left: 20%;
    }

}


.leftPart ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.leftPart ul li {
    display: block;
    margin: 0 0 43px;
}

.leftPart ul li div {
    position: relative;
}

.leftPart ul li div div {
    position: absolute;
    left: 0;
}

.leftPart ul li div h6 {
    font-size: 16px;
    color: #223036;
    font-family: circularstd-black, sans-serif;
    display: block;
    text-transform: uppercase;
    position: absolute;
    margin: 5px 0 0;
    left: 30px;
}

.leftPart ul li div h6:after {
    width: 40px;
    height: 2px;
    background: #A6A2F7;
    content: "";
    display: block;
}

.leftPart ul li div h2 {
    font-size: 16px;
    color: #223036;
    font-family: circularstd-black, sans-serif;
    display: block;
    text-transform: uppercase;
    right: 30px;
    top: 0;
    position: absolute;
}

.leftPart ul li p {
    line-height: 24px;
    margin: 0;
    padding-top: 40px;
}

@media screen and (max-width: 996px) {
    .leftPart ul li p {
        font-size: 0.7rem;
    }

    .leftPart ul li h6 {
        font-size: 1rem;
    }

    .colContainer {
        margin-top: 5%;
    }
}





