.heroSection {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  overflow: hidden;
  color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  background-position: center;
}

.image {
  height: 110%;
  width: 100%;
  margin-top: 5%;
}

.seperator {
  height: 5rem;
}

@media screen and (max-width:  996px){
  .heroSection {
    text-align: center;
    background: white;
    padding-bottom: 10%;
  }

  .seperator {
    display: none;
  }
}



.surligne strong {
  position: relative;
  font-weight: inherit;
  background-color: #ffffe0;
}

.surligne strong::before {
  content: "";
  background-image: url("../../../../../static/img/header/surligner-left.svg");
  position: absolute;
  left: -6px;
  top: 0;
  width: 7px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

@media screen and (max-width:  768px){
  .surligne strong::before {
    display: none;
  }
}

@media screen and (max-width:  320px){
  .surligne strong::after {
    display: none;
  }
}

@media screen and (max-width:  996px){
  .displayMobile {
    display: None;
  }
}

.buttonDownload {
  margin-top: 10%;
}

@media screen and (max-width:  996px){
  .buttonDownload {
    margin-top: 5%;
  }
}


