
.container {
    padding: 10%;
    padding-top: 5%;
}

.titleStyle {
    margin-top: 5%;
    font-weight: 900;
    line-height: 3.5rem;
    line-break: auto;
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: -.025em;
    display: block;
    --tw-text-opacity: 1;
    tab-size: 4;
    text-align: center;

    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.stepLabel{
    font-weight: 900;
    line-break: auto;
    font-size: 1.3rem;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}


.stepDescription{
    max-width: 450px;
    line-break: auto;
    font-size: 1.2rem;
    text-align: justify;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.image {
    height: 70%;
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

.point {
    color: #f1bb00
}

.contactButton {
    padding-top: 5%;
    --ifm-font-color-base: #a6a2f7;
}

.boxContainer {
    max-width: 600px ;
    margin-left: 25%  ;
    margin-top: 5%;
}

@media (max-width: 900px) {

    .titleStyle {
        text-align: center;
    }
}



@media (max-width: 425px) {

    .boxContainer {
        margin-left: 0  ;
    }
}

@media (min-width: 500px) and (max-width: 925px) {
    .boxContainer {
        margin-left: 10%  ;
    }
}
