.container {
  padding-top:25%;
  padding-bottom:10%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../../../../static/img/landingPage/methodo/background.png");
  background-position: bottom;
}

@media (max-width: 900px) {
  .container {
    background: #ffffff;
  }
}


.titleStyle {
  margin-top: 10%;
  font-weight: 900;
  line-height: 5rem;
  line-break: auto;
  font-size: 5rem;
  letter-spacing: -.025em;
  display: block;
  --tw-text-opacity: 1;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.descriptionStyle {
  padding-top: 5%;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 300;
  color: grey;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  text-align: justify;
}

@media screen and (max-width:  996px) {

  .titleStyle {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }

}