.featureProfile {
  padding-top: 10px;
}

.enrollContainer {
  padding-top: 15%;
}



.gridContainer {
  padding: 5%;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.mobileContainer {
  padding: 5%;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}


.enrollTitle {
  font-size: 2rem;
  color: #25366b;
  text-align: center;
  font-family: CircularStd-Black,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollSubTitle {
  font-size: 1.5rem;
  color: #25366b;
  font-family: Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollTeaser {
  font-weight: 900;
  line-height: 3rem;
  font-size: 3rem;
  letter-spacing: -.025em;
  display: block;
  --tw-text-opacity: 1;
  tab-size: 4;
  text-align: center;
  color: black;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

@media screen and (max-width:  996px) {
  .colContainer {
    margin-top: 5%;
  }

  .gridContainer {
    display: none;
  }

  .enrollTeaser {
    font-size: 2.5rem;
  }
}

@media (min-width:  448px) and (max-width:  996px) {
  .mobileContainer {
    margin: 15%;
  }

}


@media screen and (min-width:  997px) {
  .mobileContainer {
    display:none;
  }

}
