.featureProfile {
  padding-top: 10px;
}

.enrollContainer {
  padding-top: 100px;
}

.allAvisContainer {
  padding-left: 5%;
}



.gridContainer {
  padding: 5%;
  /*background: linear-gradient(-5deg,rgba(239,239,241,255) 8%,#ffffff 5%);*/
  /*background: linear-gradient(#ffffff 50%,rgba(242,243,247,255) );*/

  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

@media screen and (max-width:  996px) {
  .colContainer {
    margin-top: 5%;
  }
}



.enrollTitle {
  font-size: 2rem;
  color: #25366b;
  text-align: center;
  font-family: CircularStd-Black,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollSubTitle {
  font-size: 1.5rem;
  color: #25366b;
  font-family: Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollTeaser {
  font-weight: 900;
  line-height: 2.5rem;
  font-size: 3rem;
  letter-spacing: -.025em;
  display: block;
  --tw-text-opacity: 1;
  tab-size: 4;
  text-align: center;
  color: black;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollDescription {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  color: grey;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  text-align: center;
}

.enrollDescriptionPoints {
  font-size: 1rem;
  padding: 0;
  margin-left: 5%;
  font-style: normal;
  font-weight: 400;
  color: grey;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  list-style-type: " → ";
}

.questionContainer {
  background-color: black ;
  padding-top:4%;
  border-radius: 20px;

}

.avisContainer {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 244/var(--tw-bg-opacity));
  margin-top: 0;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1.5rem;

}

@media screen and (max-width:  996px) {
  .questionContainer {
    text-align: center;
  }
  .avisContainer {
    font-size: 0.5rem;
  }
}



.enrollButton {
  padding-left: 1%;
  color: #f1bb00 !important;
  --ifm-font-color-base: #f1bb00;

}

.cardEnrollButton {
 --ifm-color-primary: black;

}

@media screen and (max-width:  996px) {
  .enrollButton {
    display: none;
  }
}

.contactTeaser {
  font-weight: 900;
  line-height: 2.5rem;
  font-size: 3rem;
  letter-spacing: -.025em;
  display: block;
  --tw-text-opacity: 1;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

@media screen and (max-width:  996px) {
  .contactTeaser {
    font-size: 2rem;
  }
}