.featureProfile {
  padding-top: 10px;
}

.enrollContainer {
  padding-top: 2%;
}




.backGroundContainer {
  background-image: url("../../../static/img/enroll/keyboard.jpg"), linear-gradient(to right, rgba(239,239,241,255), rgba(239,239,241,255)),linear-gradient(to bottom, rgba(239,239,241,255), white);
  background-clip: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}


.gridContainer {
  background-color: transparent;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollTitle {
  font-size: 2rem;
  color: #25366b;
  font-family: CircularStd-Black,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollSubTitle {
  font-size: 1.5rem;
  color: #25366b;
  padding-left: 5%;
  font-family: Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.textPosition{
  text-align: right;
}

@media screen and (max-width: 800px){
  .textPosition {
    text-align: center;
  }
  .gridContainer {
    margin: 5%;
  }
}




.enrollTeaser {
  font-weight: 900;
  line-height: 2.5rem;
  font-size: 3rem;
  letter-spacing: -.025em;
  display: block;
  --tw-text-opacity: 1;
  tab-size: 4;
  color: black;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollDescription {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  color: grey;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollDescriptionPoints {
  font-size: 1rem;
  padding: 0;
  margin-left: 5%;
  font-style: normal;
  font-weight: 400;
  color: grey;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  list-style-type: " → ";
}

.questionContainer {
  background-color: black ;
  padding-top:4%;
  border-radius: 20px;
}


@media screen and (max-width: 800px) {
  .questionContainer {
    text-align: center;
  }
}

.contactButton {
  padding-left: 1%;
}

.enrollButton {
  padding-left: 1%;
  color: white !important;
  --ifm-font-color-base: white;

}

.cardEnrollButton {
 --ifm-color-primary: black;

}

@media screen and (max-width: 800px) {
  .enrollButton {
    display: none;
  }
}

.contactTeaser {
  font-weight: 900;
  line-height: 2.5rem;
  font-size: 3rem;
  letter-spacing: -.025em;
  display: block;
  --tw-text-opacity: 1;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.leftPart{
  max-width: 400px;
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
  padding: 50px 40px 3px 45px;
}

.leftPart h3 {
  font-size: 30px;
  color: #223036;
  line-height: 34px;
  letter-spacing: -.025rem;
  margin: 29px 0 20px;
  max-width: 310px;
}

.leftPart h3:after {
  width: 87px;
  height: 4px;
  background: #25366b;
  content: "";
  display: block;
  margin: 20px 0 52px;
}


.leftPart ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.leftPart ul li {
  display: block;
  margin: 0 0 43px;
}

.leftPart ul li h6 {
  font-size: 16px;
  color: #223036;
  font-family: circularstd-black,sans-serif;
  display: block;
  margin: 0 0 15px;
  text-transform: uppercase;
  position: relative;
}


.leftPart ul li p {
  line-height: 24px;
  margin: 0;
}

@media screen and (max-width: 800px){

  .leftPart h3 {
    font-size: 1rem;
  }


  .leftPart ul li p  {
    font-size: 0.7rem;
  }
  .leftPart ul li h6 {
    font-size: 1rem;
  }
  .colContainer {
    margin-top: 5%;
  }
}
