.featureProfile {
  padding-top: 10px;
}

.enrollContainer {
  background-color: #ffffff;
  padding-top: 100px;
}


.gridContainer {
  padding: 1%;
  background-color: white;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollTitle {
  font-size: 1.5rem;
  color: #25366b;
  text-align: center;
  font-family: CircularStd-Black,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollSubTitle {
  font-size: 1.5rem;
  color: #25366b;
  font-family: Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollTeaser {
  font-weight: 900;
  line-height: 2.5rem;
  font-size: 3rem;
  letter-spacing: -.025em;
  display: block;
  --tw-text-opacity: 1;
  tab-size: 4;
  text-align: center;
  color: black;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.enrollDescription {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  color: grey;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  text-align: center;
}

.enrollDescriptionPoints {
  font-size: 1rem;
  padding: 0;
  margin-left: 5%;
  font-style: normal;
  font-weight: 400;
  color: grey;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  list-style-type: " → ";
}

.questionContainer {
  background-color: black ;
  padding-top:4%;
  border-radius: 20px;
}


@media screen and (max-width: 800px) {
  .questionContainer {
    text-align: center;
  }
}

.contactButton {
  padding-left: 1%;
}

.enrollButton {
  padding-left: 1%;
  color: white !important;
  --ifm-font-color-base: white;

}

.cardEnrollButton {
 --ifm-color-primary: black;

}

@media screen and (max-width: 800px) {
  .enrollButton {
    display: none;
  }
}

.contactTeaser {
  font-weight: 900;
  line-height: 2.5rem;
  font-size: 3rem;
  letter-spacing: -.025em;
  display: block;
  --tw-text-opacity: 1;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}