.backGroundContainer {
  background-image: url("../../../../../static/img/enroll/keyboard.jpg"), linear-gradient(to right, rgba(239,239,241,255), rgba(239,239,241,255)),linear-gradient(to bottom, rgba(239,239,241,255), white);
  background-clip: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 2%;
}

@media screen and (max-width:  996px){
  .backGroundContainer {
    display: none;
  }
}


.gridContainer {
  background-color: transparent;
  padding-bottom: 4%;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}


.textPosition{
  text-align: right;
}

@media screen and (max-width:  996px){
  .textPosition {
    text-align: center;
  }
  .gridContainer {
    margin: 5%;
  }
}

.featureImg {
  margin: 5%;
  width: 80%;
  height: 50%;
}

.buttonDownload {
  margin: 5% 5% 5% 10% ;
}


.enrollTeaser {
  margin-top: 3%;
  margin-bottom: 4%;
  font-weight: 900;
  line-height: 2.5rem;
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: -.025em;
  --tw-text-opacity: 1;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
