.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 400px;
  width: 600px;
}

.headTitle {
  font-size: 1.5rem;
  color: #25366b;
  font-family: Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.headTeaser {
  font-weight: 900;
  line-height: 2.5rem;
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: -.025em;
  display: block;
  --tw-text-opacity: 1;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.headDescription {
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  color: grey;
  font-family: Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  text-align: justify;
}



.heroSection {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  #background-color: #ffffff;
  background: linear-gradient(-2deg,black 20%,#ffffff 0%);
  color: black;
  /* max-width: 1200px; */
}