
.backGroundContainer {
  background-image: url("../../../../../static/img/theorie_pratique/pen_background.jpg"), linear-gradient(to right, rgba(239,239,241,255), rgba(239,239,241,255)),linear-gradient(to bottom, rgba(239,239,241,255), white);

  background-clip:content-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center 0;

}

@media screen and (max-width:  996px){
  .backGroundContainer {
    display: none;
  }
}

.gridContainer {
  padding-bottom: 10%;
  background-color: transparent;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

@media screen and (max-width:  996px){
  .teaserContainer {
    text-align: center;
  }
}

.waveDivider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waveDivider svg {
  position: relative;
  display: block;
  width: calc(300% + 1.4px);
  height: 100px;
}

.waveDivider .shapeFill {
  fill: #ffffff;
}


@media screen and (max-width:  996px){
  .waveDivider {
    display: none;
  }
}


.displayMobileHeader {
  padding-bottom: 1%;
  padding-top: 5%;
}

@media screen and (max-width:  996px){
  .displayMobileHeader {
    padding-bottom: 10%;
  }
}


.infinteSvg {
  margin-left: 10%;
  height: 100%;
  width: 50%;
}

@media screen and (max-width:  996px){
  .infinteSvg {
    margin-left: 20%;
  }
}



.teaserTeaser {
  margin-top: 2%;
  font-weight: 900;
  color: #ffffff;
  line-height: 2.5rem;
  font-size: 3rem;
  letter-spacing: -.025em;
  --tw-text-opacity: 1;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

@media screen and (max-width:  996px){
  .teaserTeaser {
    text-align: center;
  }
}

.teaserDescription {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  color: grey;
  font-family: CircularStd-Book,Graphik Web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  text-align: left;
  overflow: hidden;
}

@media screen and (max-width:  996px){
  .teaserDescription {
    display: none;
  }
}